
footer{
    background: #2B2D2D;
    margin-top: 135px;
    padding: 35px 0 25px 0;
    color: #fff;
    font-size: 90%;
    width: 100vw;
}
.footer-block > h4 {
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.footer-block ul li {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 40px;
    text-transform: uppercase;
}
.footer-block ul li p{
    font-size: 16px;
    font-weight: 500;
}
.footer-block ul li a{
    color: #fff;
}
.footer-block ul li a:hover{
    color: #3B752F
}
.footer-sgwidget {
    margin: 20px auto;
    overflow: hidden;
}
.footer-contact-info>div {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px 0;
    padding: 8px 0;
    position: relative;
    padding-left: 40px;
}