
@media(min-width: 1200px) and (max-width: 1260px){
    

}
@media(min-width: 992px) and (max-width: 1199px){

}
@media(max-width: 1199px){
    .subtitle{
        padding: 10px;
        text-align: justify;
    }
    .logo {
        width: 450px;
    }
    .banner .carousel-caption{
        top: 15%;
    }
    .banner .carousel-caption{
        top: 10%;
    }
    .banner .carousel-caption-inner {
        padding: 50px;
    }
    .welcome-block, .special-block, .food-block, .service-block, .book-block, .counter-block, .staff-block, .subscribe-block, .contact-block{
        padding-top: 80px;
    }
    .height-135{
        height: 80px;
    }
    .welcome-block-full-image > div{
        margin-top: 80px;
    }

}
@media(min-width: 768px) and (max-width: 991px){
    .content-holder h2 {
        font-size: 23px;
    }
    .details-text p {
        line-height: 16.6px;
    }
}
@media(max-width: 991px){

    .logo {
        width: 350px;
    }
    h4{
        font-size: 18px;
    }
    .footer-block ul li{
        font-size: 15px;
        letter-spacing: 2px;
    }
    .footer-block ul li p{
        font-size: 15px;
    }
    .banner .carousel-caption-inner > h1 {
        font-size: 50px;
        letter-spacing: 5px;
        line-height: 80px;
    }
    .banner .carousel-caption-inner {
        padding: 30px 40px;
    }
    .welcome-block, .special-block, .food-block, .service-block, .book-block, .counter-block, .staff-block, .subscribe-block, .contact-block{
        padding-top: 60px;
    }
    .height-135{
        height: 60px;
    }
    .add-top-space, .book-block-full-image, .contact-block-full-image, footer{
        margin-top: 60px;
    }
    .book-block-full-image, .counter-full-image, .subscribe-full-image, .contact-block-full-image{
        padding: 60px 0;
    }
    .welcome-block-full-image > div{
        margin-top: 60px;
        width: 50%;
    }
    .welcome-block-full-image > div > p{
        font-size: 15px;
    }
    .food-image a.info, .event-image a.info, .staff-image a.info{
        font-size: 18px;
    }
    .text-head > h1{
        font-size: 30px;
    }
    #contactForm .form-control{
        height: 55px;
        font-size: 16px;
    }
    .special-block .col-sm-4 , .staff-block .col-sm-3 {
        padding-left: 0;
    }
    .contact-block #contactForm .form-control {
        height: 50px;
        margin-bottom: 35px;
    }


}
@media(max-width: 767px){
    .logo{
        width: 250px;
    }
    .logo-mobile{
        text-align: center
    }
    .logo-mobile img{
        margin-left: auto;
        margin-right: auto;
    }
    .header-top p{
        letter-spacing: 1px;
    }
    h2{
        font-size: 19px;
    }
    .title-name h1 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    h4{
        font-size: 16px;
    }
    .margin-t15{
        margin-top: 20px;
    }

    .staff-block .col-xs-3 {
        padding: 0 2px;
    }
    .margin-l{
        margin-left: -15px;
        text-align: left;
    }
    .staff-image a.info {
        font-size: 15px;
    }
    .staff-image a.info{
        letter-spacing: 1px;
        font-size: 14px;
    }
    .footer-block > h4{
        margin-bottom: 20px;
    }

    .height-135{
        height: 40px;
    }
    #contactForm .form-control {
        font-size: 15px;
        height: 40px;
    }
    #contactForm #message, #contactForm #message1 {
        height: 130px;
        padding-top: 10px;
    }
    .btn-button {
        font-size: 15px;
        letter-spacing: 2px;
        padding: 6px 10px;
    }
    form{
        margin: 0;
    }
    .welcome-block-full-image > div > p {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 24px;
        margin-bottom: 25px;
    }
    .read-more {
        font-size: 17px;
        font-weight: 400;
        padding: 5px 10px;
    }
    .text-head > h1 {
        font-size: 19px;
        letter-spacing: 3px;
    }
    .height-70{
        height: 40px;
    }
    .food-image{
        margin-bottom: 15px;
    }
    
    .footer-block ul li {
        font-size: 14px;
        line-height: 32px;
    }
    .footer-block-main .col-xs-12 + .col-xs-12 {
        margin-top: 30px;
    }
    footer .social-grid {
        padding: 5px 0 10px;
    }
    footer .social-grid.text-right a{
        height: 32px;
        width: 32px;
    }

}
@media(min-width: 640px) and (max-width: 767px){
    

}
@media(min-width: 580px) and (max-width: 767px){
    .details-text {
        border:0px;
        border-bottom: 2px solid #A87F41;
    }

}
@media(min-width: 480px) and (max-width: 767px){
    .logo{
        width: 200px;
    }
    .nav > li > a {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 4px;
        padding: 10px 5px;
    }
    .footer-block-main .width-50, .counter-block .col-xs-12, .food-block .col-xs-12, .about .service-block .col-xs-12{
        width: 50%;
    }


}
@media(max-width: 640px){

}
@media(max-width: 479px){

    .menu-restaurant {
        width: 100%;
        }
        .details-text {
            border:0px;
            border-bottom: 2px solid #A87F41;
        }
        .header-h {
            font-size: 35px;
        }
        .header-p, body{
            font-size: 14px;
        }
        .about-info, .mr-15{
            margin-bottom: 15px;
        }
        #banner h2{
            font-size: 25px;
        }
        #banner p{
            font-size: 25px;
        }

}